In [1]:
%env DDB_TABLE=end_to_end_service_mgmt
import os, boto3
table = boto3.resource("dynamodb").Table(os.environ["DDB_TABLE"])

env: DDB_TABLE=end_to_end_service_mgmt

In [2]:
ddb = boto3.client("dynamodb")
resp = ddb.describe_table(TableName=os.environ["DDB_TABLE"])
print(resp["Table"]["KeySchema"])

[{'AttributeName': 'id', 'KeyType': 'HASH'}]

Insert 5 Technicians

In [6]:
import boto3
import os
from decimal import Decimal

table = boto3.resource("dynamodb").Table(os.environ["DDB_TABLE"])

workers = [
    {
        "id": "TECH#1",
        "name": "Mei Chen",
        "phone": "+886900000001",
        "skills": ["tires", "general"],
        "homeBase": {"lat": Decimal("25.04"), "lon": Decimal("121.56")},
        "todayLoad": Decimal("0")
    },
    {
        "id": "TECH#2",
        "name": "Jamie Lin",
        "phone": "+886900000002",
        "skills": ["oil", "brakes"],
        "homeBase": {"lat": Decimal("25.02"), "lon": Decimal("121.52")},
        "todayLoad": Decimal("1")
    },
    {
        "id": "TECH#3",
        "name": "Wei Wang",
        "phone": "+886900000003",
        "skills": ["general", "engine"],
        "homeBase": {"lat": Decimal("25.05"), "lon": Decimal("121.54")},
        "todayLoad": Decimal("2")
    },
    {
        "id": "TECH#4",
        "name": "Li Hua",
        "phone": "+886900000004",
        "skills": ["electrical", "general"],
        "homeBase": {"lat": Decimal("25.03"), "lon": Decimal("121.55")},
        "todayLoad": Decimal("0")
    },
    {
        "id": "TECH#5",
        "name": "Chen Mei",
        "phone": "+886900000005",
        "skills": ["brakes", "suspension"],
        "homeBase": {"lat": Decimal("25.01"), "lon": Decimal("121.53")},
        "todayLoad": Decimal("1")
    }
]

for w in workers:
    table.put_item(Item=w)

print("Inserted 5 technicians into", os.environ["DDB_TABLE"])

Inserted 5 technicians into end_to_end_service_mgmt